@page "/"
@using System.Drawing
@using Dotgem.Apps.CisiColors.Data
@inject ColorReader Colors

<PageTitle>Index</PageTitle>

<h1>Cisi Colors</h1>

<Virtualize Items=@_colors>
    <ColorOutput Color=@context.Color Name=@context.Name ColorDescriptionMode=@_colorDescriptionMode />
</Virtualize>

<ColorMenu @bind-ShowDetails=@_showDetails />

@code{
    List<ColorDefinition> _colors = new();

    protected async override Task OnInitializedAsync()
    {
        _colors = await Colors.ReadCisiColorAsync() ?? throw new Exception();
    }

    ColorDescriptionMode _colorDescriptionMode => _showDetails ? ColorDescriptionMode.All : ColorDescriptionMode.Main;
    bool _showDetails = false;
}