@using System.Drawing

<div class="color-field @CSS_IsLight @CSS_Mode" style="background-color: @ColorTextHex.GetHex(Color)">
    @ChildContent?.Invoke(Color)
</div>

@code {
    [Parameter, EditorRequired]
    public Color Color { get; set; }

    public string CSS_Mode => Mode switch
    {
        ColorFieldMode.Main => "main",
        _ => "default"
    };

    [Parameter]
    public ColorFieldMode? Mode { get; set; }

    [Parameter]
    public RenderFragment<Color>? ChildContent { get; set;  }

    private string CSS_IsLight => IsLight ? "light-color" : "dark-color";
    private bool IsLight
    {
        get
        {
            var r = Color.R;
            var g = Color.G;
            var b = Color.B;
            var lightnessLimit = 0x80;
            if (
                (r > lightnessLimit && (g > lightnessLimit * 1.2 || b > lightnessLimit))
                || (g > lightnessLimit * 1.2 && g > lightnessLimit)
                )
            {
                return true;
            }
            return false;
        }
    }
}
