@inherits LayoutComponentBase

<div class="page">

    <main>
        @Body
    </main>

    <MainHeader>
        <Navigation>
            <ColorListNav />
        </Navigation>
    </MainHeader>

</div>
