@if (ColorDescriptionMode >= ColorDescriptionMode.All)
{
    <div class="description-details">
        @if (ColorDetails.IsHexOn)
        {
            <ColorTextHex Color=@Color WithDescription=true />
        }
        @if (ColorDetails.IsRgbOn)
        {
            <ColorTextRGB Color=@Color WithDescription=true />
        }
        @if (ColorDetails.IsHslOn)
        {
            <ColorTextHSL Color=@Color WithDescription=true />
        }
    </div>
}

@code {
    [Parameter, EditorRequired]
    public ColorDetails ColorDetails { get; set; }

    [Parameter, EditorRequired]
    public Color Color { get; set; }

    [Parameter, EditorRequired]
    public ColorDescriptionMode ColorDescriptionMode { get; set; }
}
