<ColorField Color=@Color Mode="ColorFieldMode.Main">
    <div class="about-color">
        @if (ColorDescriptionMode >= ColorDescriptionMode.OnlyName)
        {
            @if (Name is not null)
            {
                <div class="name">@Name</div>
            }
            @if (ColorDescriptionMode >= ColorDescriptionMode.Main)
            {
                <dív class="color-texts">
                    <ColorTextHex Color=@context />
                    <ColorTextRGB Color=@context />
                    <ColorTextHSL Color=@context />
                </dív>
            }
        }
    </div>

    <ColorShadesSW StartColor=@context ColorDescriptionMode=@ColorDescriptionMode />

</ColorField>

@code {
    [Parameter, EditorRequired]
    public Color Color { get; set; }

    [Parameter]
    public string? Name { get; set; }

    [Parameter]
    public ColorDescriptionMode ColorDescriptionMode { get; set; }
}
