@if (ColorDescriptionMode >= ColorDescriptionMode.All)
{
    <div class="description-details">
        @if (ColorDetails.IsHexOn)
        {
            <ColorText
                ColorRepresentation=@ColorRepresentation.HEX
                Color=@Color
                WithDescription=true />
        }
        @if (ColorDetails.IsRgbOn)
        {
            <ColorText
                ColorRepresentation=@ColorRepresentation.RGB
                Color=@Color
                WithDescription=true />
        }
        @if (ColorDetails.IsHslOn)
        {
            <ColorText
            ColorRepresentation=@ColorRepresentation.HSL
            Color=@Color
                WithDescription=true />
        }
    </div>
}

@code {
    [Parameter, EditorRequired]
    public ColorDetails ColorDetails { get; set; }

    [Parameter, EditorRequired]
    public Color Color { get; set; }

    [Parameter, EditorRequired]
    public ColorDescriptionMode ColorDescriptionMode { get; set; }
}
