<div class="color-menu">
    <div class="button-menu">
        <div class="button-list">
            <button class="main" @onclick=@ToggleShowDetails>Details</button>
            <div class="sub-button-list @(ShowDetails ? "open" : "closed")">
                <button class="sub-button">Hex</button>
                <button class="sub-button">RGB</button>
                <button class="sub-button">HSL</button>
            </div>
        </div>
    </div>
</div>

@code {
    private bool __showDetails;
    [Parameter]
    public bool ShowDetails
    {
        get => __showDetails;
        set {
            var hasChanged = __showDetails != value;
            __showDetails = value;
            if (hasChanged) {
                ShowDetailsChanged.InvokeAsync(value);
            }
        }
    }

    [Parameter]
    public EventCallback<bool> ShowDetailsChanged { get; set; }

    void ToggleShowDetails()
    {
        ShowDetails = !ShowDetails;
    }
}
