<PageTitle>@Title</PageTitle>

<h2>@Title</h2>

<div class="list-of-color">
    <CascadingValue Value=@ColorDetails Name="ColorDetails">
        @foreach (var color in Colors)
        {
            <ColorOutput Color=@color.Color Name=@color.Name ColorDescriptionMode=@ColorDescriptionMode />           
        }
    </CascadingValue>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = "Colors";

    [Parameter]
    public ColorsCollection Colors { get; set; } = ColorsCollection.Empty();

    [Parameter]
    public ColorDescriptionMode ColorDescriptionMode { get; set; }

    [Parameter]
    public ColorDetails ColorDetails { get; set; } = new();
}
