@using Dotgem.Colors
@inherits ColorTextBase

<div class="color-text">@Text</div>

@code {
    public override Func<Color, string> ColorAsString => ColorFormater.GetRGB;
    public override Func<string> Description => () => "RGB";
}
