@using System.Drawing
@inherits ColorTextBase

<div class="color-text">
    @Text
</div>

@code {
    public override Func<string> Description => () => ColorFormater.HEX_DESCRIPTION;
    public override Func<Color, string> ColorAsString => ColorFormater.GetHex;
}
