@inherits ColorTextBase

<div class="color-text">
    @Text
</div>

@code {
    public override Func<string> Description => () => "Hex";
    public override Func<Color, string> ColorAsString => color => color.ToString();
}
