@inherits ColorTextBase

<div class="color-text">
    @Text
</div>

@code {
    public override Func<Color, string> ColorAsString => color => color.HSL.ToString();
    public override Func<string> Description => () => "HSL";
}
